<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<body>
	<div class="header mb-3">
		<h3>Duke's Book Store</h3>
	</div>

	<div class="container">
		<h3>Book Table</h3>
		
		<div th:if="${#lists.isEmpty(listBooks)}">
			<h3>No books!!!</h3>
		</div>
		
		<div th:each="book : ${listBooks}" th:class="course-list">
			<div class="row">
				<div class="col-9">
					<a th:text="${book.title}"
						th:href="@{'/showDetails/' + ${book.id}}" th:class="book-title"></a>
					<p th:text="${'by ' + book.firstName + ' ' + book.surName}"></p>
					<p th:text="${'$ ' + book.price}">
				</div>
				<div class="col-3">
					<a th:href="@{'/addToCart/' + ${book.id}}" th:class="btn-addtocart">Add To Cart</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>